* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

body {
  color: $white;
  font-family: 'Roboto', 'Kosugi', sans-serif;
  font-feature-settings: 'palt';
  font-size: 16px;
  line-height: 1.6em;
  background: $black;
  -webkit-font-smoothing: antialiased;
}

